<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2016. Ronald D. Kurr kurr@jvmguy.com
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<!-- This configuration file is intended for development environments logging to the console. -->
<configuration debug="false">

    <!-- required to ensure that bridging from java.util.logging does not cause a 20% performance hit -->
    <contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator"/>

    <!-- 12 Factor says only log to STDOUT and STDERR and let the process manager worrying about sending it to logstash. -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <includeContext>false</includeContext>
            <timeZone>UTC</timeZone>
            <fieldNames>
                <timestamp>timestamp</timestamp>
                <message>message</message>
                <logger>component</logger>
                <version>[ignore]</version>
                <thread>[ignore]</thread>
                <levelValue>[ignore]</levelValue>
            </fieldNames>
        </encoder>
    </appender>

    <logger name="org.kurron" level="ALL"/>

    <!-- handles sending messages using background threads -->
    <appender name="ASYNC-CONSOLE" class="ch.qos.logback.classic.AsyncAppender">
        <!-- The maximum capacity of the blocking queue. By default, queueSize is set to 256. -->
        <queueSize>1024</queueSize>
        <appender-ref ref="CONSOLE"/>
    </appender>

    <root level="INFO">
        <appender-ref ref="ASYNC-CONSOLE"/>
    </root>
</configuration>
